<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Access List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
</head>
<body>

<h1>Access List.</h1>
<br/><br/>
<div>
    <form th:action="@{/file/{filename}(filename=${file.filename})}"
          th:object="${fileForm}"
          method="POST"
          enctype="multipart/form-data">
        <th>File name</th>
        <td th:utext="${file.filename}">...</td>
        Username:
        <input type="text" placeholder="usr1, usr2, ... usrn" name="read"/>
        <br/>
        Username:
        <input type="text"  placeholder="usr1, usr2, ... usrn" name="write"/>
        <br/>
        Username:
        <input type="text" placeholder="usr1, usr2, ... usrn" name="delete"/>
        <br/>
        <input type="submit" value="Update" />
    </form>

</div>

</body>
</html>