<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add File</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a File:</h1>
<div>
    <form th:action="@{/addFile}"
          th:object="${fileForm}" method="POST"
          enctype="multipart/form-data">
        File:
        <input type="file" th:field="*{filename}" th:name="file">
        <br/>
        Type:
        <input type="text" th:field="*{type}" placeholder="File/Folder"/>
        <br/>
        Parent:
        <input type="text" th:field="*{parent}" placeholder="test3"/>
        <br/>
        <!--Author:
        <input type="text" th:field="*{author}" placeholder="Кубанцев Владимир"/>
        <br/>
        Editor:
        <input type="text" th:field="*{editor}" placeholder="Бурыкин Иван"/>
        <br/>-->
        <input type="submit" value="Create" />
    </form>
</div>
<br/>
</body>
</html>