<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add File</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a File:</h1>

<div>
    <form th:action="@{/addFile}"
          th:object="${fileForm}" method="POST">
        File Name
        <input type="text" th:field="*{filename}" placeholder="Имя файла"/>
        <br/>
        Type:
        <input type="text" th:field="*{type}" placeholder="File/Folder"/>
        <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Test</p>
        <br/>
        Size:
        <input type="text" th:field="*{size}" placeholder="1024 Kb"/>
        <br/>
        Date:
        <input type="text" th:field="*{date}" placeholder="2020-02-06 12:24:36"/>
        <br/>
        Parent:
        <input type="text" th:field="*{parent}" placeholder="test3"/>
        <br/>
        Author:
        <input type="text" th:field="*{author}" placeholder="Кубанцев Владимир"/>
        <br/>
        Editor:
        <input type="text" th:field="*{editor}" placeholder="Бурыкин Иван"/>
        <br/>
        <input type="submit" value="Create" />
    </form>
</div>
<!--
<form th:action="@{/addFile}"
      th:object="${fileForm}" method="POST">
    File Name:
    <input type="text" th:field="*{filename}" />
    <br/>
    Nesting:
    <input type="text" th:field="*{type}" />
    <br/>
    <input type="submit" value="Create" />
</form>
-->
<br/>

</body>
</html>