<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
Add new user

<form th:action="@{/registration}"
      th:object="${userForm}" method="POST"
      enctype="multipart/form-data">

    Username:
    <input type="text" th:field="*{username}" placeholder="user"/>
    <br/>
    Password:
    <input type="text" th:field="*{password}" placeholder="********"/>
    <br/>

</form>

</body>
</html>